<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>SaSsdt </string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>No</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>1</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.9-10.11-HD4600_HDMI_Audio-1of2</string>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9-10.11-HD4600_HDMI_Audio-2of2</string>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHAAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-SNB-Port _0x5-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AwQAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-SNB-Port _0x6-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>BAYAAAAIAAAGAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-SNB-Port _0x7-HDMI2DP</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Capri-Port _0x5-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AwQAAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Capri-Port _0x6-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>BAYAAAAIAAAGAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAEAAAHAQAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Capri-Port _0x7-HDMI2DP</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Azul-Port_0x5-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQKAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQKAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Azul-Port_0x6-DP2HDMI</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AwYIAAAEAAARAAAA</data>
				<key>Replace</key>
				<data>AwYIAAAIAAAGAAAA</data>
				<key>Comment</key>
				<string>10.10-10.11-Azul-Port_0x7-DP2HDMI</string>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<false/>
	</dict>
</dict>
</plist>
